/* Import fonts from Google Font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Remove browser default spacing */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Fredoka One", san-serif;
    min-height: 100vh;
    width:100%;
    background-image: url(../images/backgroundimage3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    
}
h1 {
    font-family: "Fredoka One", san-serif;
    font-weight: 300;
    text-align: center;
}

#outer-container {
    min-height: 100vh;
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

#inner-container {
    background-image: url(../images/woodbackground.png);
    border-width: 0.5rem;
    border-style: outset;
    border-color: rgba(174, 95, 4, 0.349);
    /* border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; */
    /* border-width: 20px; */
    /* border-style: solid; */
    width: 600px;
    height: 600px;
    /* border-radius: 5px; */
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
    box-shadow: 0 0 1rem 0.5rem;
}

/* #triangle {
    width:0;
    height:0;
    border-bottom: 100px solid;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-image: url(../images/woodbackgrounf.jpg);
    border-image-repeat:round;
    overflow: hidden;
} */

#question-container, 
#answer-container, 
#navbar {
    width:100%;
    display:block;
}

#nav-bar {
    border-bottom: dotted;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#quiz-container, 
#gameover-container{
    display:none;
}

#answer-container {
    display:grid;
    grid-template-columns:repeat(3,auto);
    gap:1rem;
    margin: 2rem 0;
}

.btn {
    margin:auto;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    width: 3rem;
    height:3rem;
    border-radius:1rem;
    box-shadow: 0 0 0.25rem 0.1rem;
    font-size: 1.5rem;
    cursor:pointer;
}

.btn-control {
    margin:auto;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    width: 6rem;
    height:3rem;
    border-radius:1rem;
    box-shadow: 0 0 0.25rem 0.1rem;
    font-size: 1.2rem;
    cursor: pointer;

}

/* .btn:focus{background-color:red;} */


.correct-answer{
    background-color:green;
}

.incorrect-answer{
    background-color:red;
}

#question {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

#counters {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.radio-button {
    text-align: center;
    padding:1rem;
    font-size: 1.5rem;
    cursor: pointer;
}




