/* Import fonts from Google Font */

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Fredoka+One&display=swap');

/* Remove browser default spacing and apply universal centre aligning text*/

* {
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
}

/* General styles and font and color selection */

body {
    font-family: "Dongle", san-serif;
    color: #444444;
    min-height: 100vh;
    width:100%;
    font-size: 2.125rem;
    /* background-image: url(../images/backgroundimage1.webp); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* text-align: center; */
}

/* Logo styles and feedback */

h1 {
    font-family: "Fredoka One", san-serif;
    color: #444444;
    font-weight: lighter;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color:#444444;
}

a:hover{
    text-decoration: underline;
}

#nav-bar {
    border-bottom: dotted;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

/* page container styles */

#outer-container {
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* quiz containers and styles */

#inner-container {
    background-color:#fefbd9;
    background-image: url(../images/woodbackground.png);
    border-width: 0.5rem;
    border-style: outset;
    border-color: rgba(174, 95, 4, 0.349);
    max-width: 600px;
    width:90%;
    height: 100%;
    box-shadow: 0 0 1rem 0.5rem;
    box-sizing:border-box;
}

#quiz-options {
    font-size: 1.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#question-container, 
#answer-container {
    width:100%;
    display:block;
    box-sizing: border-box;
}

#quiz-container, 
#gameover-container{
    display:none;
}

#quiz-container {
    padding-bottom: 1rem;
}

#answer-container {
    display:grid;
    grid-template-columns:repeat(3,auto);
    row-gap: 2rem;
    margin: 2rem 0;
    max-width: 310px;
    margin:auto;
    margin-bottom: 1rem;
}

/* Game choices styles */

.radio-button {
    /* text-align: center; */
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Answer and navigation button styles */

.btn, .btn-control {
    margin:auto;
    background-color: white;
    color: #444444;
    border: 2px solid #e7e7e7;
    /* width: 3rem; */
    height:3rem;
    border-radius:1rem;
    box-shadow: 0 0 0.25rem 0.1rem;
    /* font-size: 1.5rem; */
    cursor:pointer;
}

.btn {
    width: 3rem;
    font-size:1.5rem;
}

.btn-control {
    /* margin:auto; */
    /* background-color: white; */
    /* color: #444444; */
    /* border: 2px solid #e7e7e7; */
    width: 6rem;
    /* height:3rem; */
    /* border-radius:1rem; */
    /* box-shadow: 0 0 0.25rem 0.1rem; */
    font-size: 1.2rem;
    /* cursor: pointer; */
}

.btn:hover,
.btn-control:hover {
    border-color: #be0029;
}

#new-game {
    margin:1rem;
}

#quiz-start {
    margin-top: 0.5rem;
}

/* Correct and incorrect answer feedback */

.correct-answer{
    background-color:green;
}

.incorrect-answer{
    background-color: #be0029;
}

/* Score counter styles */

#counters {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    max-width: 310px;
    margin:auto;
}

#counters > div {
    width:50%;
    box-sizing:border-box;
    text-align: center;
}

/* Footer and social media links styles */

/* footer {
    max-width: 100vw;
} */

footer ul {
    /* text-align: center; */
}

footer li {
    display: inline;
    line-height: 100px;
}

footer i {
    color: #444444;
    font-size: x-large;
    padding: 5px;
    margin: 5px;
}

footer i:hover {
    color: #be0029;
}

/* media queries */

@media screen and (min-width: 1024px){
    body{
        background-image: url(../images/backgroundimage2.webp);
    }
}

@media screen and (max-width:1023px) {
    body{
        background-image: url(../images/backgroundimage1.webp);
    }
    
}
