/* Import fonts from Google Font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Remove browser default spacing */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    min-height: 100vh;
    width:100%;
    background-image: url(../images/backgroundimage2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1 {
    font-family: "Fredoka One", san-serif;
    font-weight: 300;
    text-align: center;
}

#page-container {
    display:flex;
}

#nav-bar {
    background-image: url(../images/croppedflag.png) ;
    background-repeat: no-repeat;
    background-position: center;
}

